
<p id="notice"><%= notice %></p>

<div class="row theatre-list-content">
  <div class="col-md-12">
   <div class="row">
     <% @list_theatres.each do |theatre| %>
       <div class="col-md-4">
         <div class="card">
           <div class= "card-block">
             <div class="card-text">
               <table class="table table-hover table-striped mt-4">
                 <tbody>
                   <tr>
                     <td class="title">Titre</td>
                     <td><%= theatre.titre %></td>
                   </tr>
                   <tr>
                     <td class="title">Type</td>
                     <td><%= theatre.theatre_type %></td>
                   </tr>
                   <tr>
                    <td><%= link_to 'Read more..', theatre %></td>
                  </tr>
               </tbody>
             </table>
            </div>
          </div>
         </div>
        </div>
     <% end %>
    </div>
  </div>
</div>
